.dropdown-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #553566;
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  padding-left: 0;
  background-color: rgba($color: #553566, $alpha: 1);
  color: black;
  border: 1px solid #ccc;
  border-radius: 16px;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  z-index: 99;
}

.dropdown-menu li {
  padding: 8px 16px;
  box-sizing: border-box;
  border-bottom: solid 1px #ccc;
  color: #ffffff;
  border: none;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    background-color: rgba($color: blue, $alpha: 0.3);
  }
}
